<div class="mt-4 container">
  <div class="d-flex align-self-stretch">
    <div class="col-lg-7 map-container">
      <app-map
        [tempMarkerLatLng]="activityLocationMarker"
        (handleClick)="onClickOnMap($event)"
        (handleLocationClick)="onSelectLocation($event)"
      />
    </div>
    <div class="col-lg-5">
      <h2>Créer une activité</h2>
      <form [formGroup]="myForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
          <div><label for="" class="col-form-label">Coordonnées :</label></div>
          <div class="d-flex">
            <div style="padding-left: 0; padding-right: 3px" class="col-6">
              <input
                (change)="onChangeCoords()"
                placeholder="X"
                type="number"
                class="form-control no-spinner"
                formControlName="point_x"
              />
            </div>
            <div style="padding-right: 0; padding-left: 3px" class="col-6">
              <input
                (change)="onChangeCoords()"
                placeholder="Y"
                type="number"
                class="form-control no-spinner"
                formControlName="point_y"
              />
            </div>
          </div>
          <small
            >Pointez sur la carte pour définir automatiquement la valeur
          </small>
          <div
            *ngIf="
              point_x?.touched ||
              point_x?.dirty ||
              point_y?.touched ||
              point_y?.dirty
            "
          >
            <div
              *ngIf="
                (point_x && point_x.errors && point_x.errors['required']) ||
                (point_y && point_y.errors && point_y.errors['required'])
              "
            >
              <small class="text-danger"
                >Veuillez compléter les coordonnées</small
              >
            </div>
          </div>
        </div>
        <div class="form-group">
          <div><label class="col-form-label">Région :</label></div>
          <div>
            <select
              formControlName="locationId"
              class="form-control"
              name=""
              id=""
            >
              <option [value]="item.id" *ngFor="let item of locations" value="">
                {{ item.name }}
              </option>
            </select>
            <div *ngIf="locationId?.touched || locationId?.dirty">
              <div
                *ngIf="
                  locationId &&
                  locationId.errors &&
                  locationId.errors['required']
                "
              >
                <small class="text-danger"
                  >Veuillez selectionner la région</small
                >
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div><label class="col-form-label">Type d'activité :</label></div>
          <div>
            <select
              formControlName="activityTypeId"
              class="form-control"
              name=""
              id=""
            >
              <option
                [value]="item.id"
                *ngFor="let item of activityTypes"
                value=""
              >
                {{ item.nom ? item.nom : item.name }}
              </option>
            </select>
            <div *ngIf="activityTypeId?.touched || activityTypeId?.dirty">
              <div
                *ngIf="
                  activityTypeId &&
                  activityTypeId.errors &&
                  activityTypeId.errors['required']
                "
              >
                <small class="text-danger">Ce champ est requis</small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label for="" class="col-form-label">Nom de l'activité :</label>
          </div>
          <div>
            <input formControlName="name" type="text" class="form-control" />
            <div *ngIf="name?.touched || name?.dirty">
              <div *ngIf="name && name.errors && name.errors['required']">
                <small class="text-danger">Ce champ est requis</small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label for="" class="col-form-label">Durée (minutes) :</label>
          </div>
          <div>
            <input
              formControlName="duration"
              min="0"
              type="number"
              class="form-control no-spinner"
            />
            <div *ngIf="duration?.touched || duration?.dirty">
              <div
                *ngIf="
                  duration && duration.errors && duration.errors['required']
                "
              >
                <small class="text-danger">Ce champ est requis</small>
              </div>
              <div
                *ngIf="
                  duration && duration.errors && duration.errors['notPositive']
                "
              >
                <small class="text-danger">Ce champ doit être positif</small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label for="" class="col-form-label"
              >Durée minimale (minutes) :</label
            >
          </div>
          <div>
            <input
              formControlName="minDuration"
              min="0"
              type="number"
              class="form-control no-spinner"
            />
            <div *ngIf="minDuration?.touched || minDuration?.dirty">
              <div
                *ngIf="
                  minDuration &&
                  minDuration.errors &&
                  minDuration.errors['notPositive']
                "
              >
                <small class="text-danger">Ce champ doit être positif</small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label for="" class="col-form-label">Heure d'ouverture :</label>
          </div>
          <div>
            <input
              formControlName="openingTime"
              type="time"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <div>
            <label for="" class="col-form-label">Heure de fermeture :</label>
          </div>
          <div>
            <input
              formControlName="closingTime"
              type="time"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <div>
            <label for="" class="col-form-label">Lien externe :</label>
          </div>
          <div>
            <input formControlName="link" type="text" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <div>
            <label for="" class="col-form-label">Description :</label>
          </div>
          <div>
            <textarea
              formControlName="description"
              type="text"
              class="form-control"
            ></textarea>
          </div>
        </div>
        <button
          [disabled]="myForm.invalid"
          style="width: 100%"
          class="btn btn-couleur2"
        >
          Enregistrer
        </button>
      </form>
    </div>
  </div>
</div>
