@import "../../../styles.scss";

.conteneur {
  height: 100%;
  font-size: 0.9em;

  .header {
    height: 10%;
    border-bottom-style: solid;
  }

  .message-list {
    height: 78%;
    overflow-y: auto;

    .message-bubble {
      padding: 3px;
      border-radius: 3px;
      color: white;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .message-bubble.user {
      margin-left: 25px;
      margin-right: 5px;
      background-color: $couleur1;
    }

    .message-bubble.bot {
      background-color: gray;
      margin-right: 25px;
      margin-left: 5px;
    }
  }
  .user-field {
    height: 12%;
  }

  input {
    font-size: 1em !important;
  }
  button {
    font-size: 1em !important;
  }

  .btn-send {
    @extend .btn-couleur1;
  }

  .message-input {
    border-style: none;
  }
}
