<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="site_footer_inner">
        <div class="site_footer_left">
          <p>© Copyright 2020 by <a href="#">Layerdrops.com</a></p>
        </div>
        <div class="site_footer__social">
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-dribbble"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
