@import "../../../styles.scss";

.userIcon {
  color: $couleur1;
  font-size: 2em;
  position: relative;
  bottom: -5px;
}

.loginButtonSection {
  color: white;
  font-weight: bold;
  background-color: $couleur2;
  text-align: center;
  padding: 1em;
}

.user_info {
  font-size: 1.1em;
}

.dropdownUserMenu {
  height: fit-content;
  text-align: center;
  padding: 0 !important;

  button {
    width: 100%;
  }

  a {
    font-weight: 500;
  }

  .btn-warning {
    color: white;
  }
}
