<div class="container mt-5">
  <h4>Selectionnez le nombre de personne :</h4>
  <div class="d-flex select-people-group mt-3">
    <i
      style="font-size: 2em; position: relative; bottom: -0.1em"
      class="bi bi-person-fill mr-3"
    ></i>
    <div class="d-flex select-people-container">
      <div>
        <button
          [disabled]="peopleNumber?.value <= 1"
          (click)="decreasePeopleNumber()"
          class="btn"
        >
          -
        </button>
      </div>
      <div>
        <div class="number-display form-control">{{ peopleNumber?.value }}</div>
      </div>
      <div>
        <button (click)="increasePeopleNumber()" class="btn">+</button>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <h4>Selectionnez les dates :</h4>
    <div class="">
      <form [formGroup]="myForm" (ngSubmit)="onSubmitForm()">
        <div class="d-lg-flex">
          <div class="form-group mr-lg-3">
            <div><label class="col-form-label">Départ :</label></div>
            <div>
              <input
                formControlName="dateDepart"
                type="date"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-group">
            <div><label class="col-form-label">Retour :</label></div>
            <div>
              <input
                formControlName="dateRetour"
                type="date"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <div class="mt-4">
          <button
            [disabled]="myForm.invalid"
            class="btn btn-valider btn-couleur2"
          >
            Valider
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
