<div class="d-flex select-activities">
  <div class="col-6 map-container bordered"></div>
  <div class="col-6 form-container container">
    <div class="mt-5">
      <div class="form-group">
        <div class="mb-2">
          <label class="col-form-label">Saisissez un mot clé</label>
        </div>
        <div>
          <input
            type="text"
            class="form-control"
            placeholder="ex : plage Andaboy"
          />
        </div>
      </div>
      <div class="form-group">
        <div
          class="ui-slider-range ui-corner-all ui-widget-header"
          style="left: 0%; width: 100%"
        ></div>
      </div>
    </div>
  </div>
</div>
