@import "../styles.scss";

@keyframes tremblement {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-2px, 0px);
  }
  50% {
    transform: translate(2px, -0px);
  }
  75% {
    transform: translate(-2px, -0px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.messageBoxContainer {
  position: absolute;
  width: 100vw;
  z-index: 99;
}

.activate-chat-button {
  position: fixed;
  top: 90vh;
  right: 20px;
  z-index: 5;
  background-color: $couleur1;
  border-radius: 100%;
  border-style: 2px solid white !important;
  padding: 12px;

  img {
    width: 50px;
  }
}

.chat-tips {
  position: fixed;
  top: 92vh;
  right: 100px;
  border: 1px solid gray;
  z-index: 5;
  padding: 8px;
  border-radius: 20px;
  background-color: $couleur2Clair;
  color: white;
  white-space: nowrap;

  display: inline-block; /* pour un meilleur contrôle de l'effet */
  animation: tremblement 1s infinite;
}

.chat-container {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: white;
  z-index: 5;
  width: 300px;
  height: 400px;

  border: 1px solid gray;
  border-radius: 3px;
}
