<!-- Banner Section One Start -->
<section class="banner-one two ombrer-bottom">
  <div class="banner-two__bg-slide">
    <div
      class="thm-swiper__slider swiper-container"
      data-swiper-options='{"spaceBetween": 0, "loop": true, "effect": "fade", "slidesPerView": 1, "autoplay": { "delay": 5000 }, "pagination": {
                "el": "#banner-two__bg-slide-pagination",
                "type": "bullets",
                "clickable": true
            }}'
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="image-layer"
            style="background-image: url(/assets/images/banner.jpg)"
          ></div>
          <!-- /.image-layer -->
        </div>
        <div class="swiper-slide">
          <div
            class="image-layer"
            style="background-image: url(/assets/images/banner.webp)"
          ></div>
          <!-- /.image-layer -->
        </div>
      </div>
      <!-- /.swiper-wrapper -->
    </div>
    <!-- /.thm-swiper__slider -->
    <div class="swiper-pagination" id="banner-two__bg-slide-pagination"></div>
  </div>
  <!-- /.banner-two__bg-slide -->
  <div class="container">
    <div class="content-box">
      <div class="top-title">
        <div class="banner_two_shape">
          <img src="assets/images/shapes/banner_two_shape.png" alt="" />
        </div>
        <h2>
          Réservez votre <br />
          voyage
        </h2>
      </div>

      <div class="product-tab-box tabs-box">
        <div class="tabs-content">
          <div class="tab active-tab" id="desc">
            <form class="banner_one_search_form" action="/listing-2.html">
              <div class="banner_one_search_form_input_box">
                <input type="text" placeholder="villes, activités..." />
                <button
                  type="submit"
                  class="thm-btn btn-couleur1 banner_one_search_btn"
                >
                  Rechercher
                </button>
                <div class="banner_one_search_icon">
                  <a href="#"><span class="icon-magnifying-glass"></span></a>
                </div>
              </div>
            </form>
          </div>

          <div class="tab" id="addi__info">
            <form class="banner_one_search_form" action="/listing-2.html">
              <div class="banner_one_search_form_input_box">
                <input
                  type="text"
                  placeholder="Search for city, property, agent and more..."
                />
                <button type="submit" class="thm-btn banner_one_search_btn">
                  Search Property
                </button>
                <div class="banner_one_search_icon">
                  <a href="#"><span class="icon-magnifying-glass"></span></a>
                </div>
              </div>
            </form>
          </div>

          <div class="tab" id="review">
            <form class="banner_one_search_form" action="/listing-2.html">
              <div class="banner_one_search_form_input_box">
                <input
                  type="text"
                  placeholder="Search for city, property, agent and more..."
                />
                <button type="submit" class="thm-btn banner_one_search_btn">
                  Search Property
                </button>
                <div class="banner_one_search_icon">
                  <a href="#"><span class="icon-magnifying-glass"></span></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section One End -->

<!--Cities One Start-->
<section class="cities_one">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div
        *ngFor="let city of cities"
        class="col-xl-4 col-lg-6 col-md-6 city-container"
      >
        <!--Cities One Single-->
        <div class="city-body d-flex">
          <div
            class="col-6 city-description d-flex flex-column justify-content-center"
          >
            <span class="city-title">{{ city.name }}</span>
            <div class="mt-4 pl-2">Voir plus</div>
          </div>
          <div
            class="col-6 city-image"
            style="background-image: url('{{ city.image }}')"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Cities One End-->

<!--Latest Properties Two Start-->
<section class="latest_properties two">
  <div class="container">
    <div class="latest_properties_two_inner">
      <div class="block-title text-left">
        <h4>Browse Hot Offers</h4>
        <h2>Latest Properties</h2>
      </div>
      <div class="swiper-pagination" id="latest_properties_pagination"></div>
      <div class="row">
        <div class="col-xl-12">
          <div
            class="thm-swiper__slider swiper-container"
            data-swiper-options='{"spaceBetween": 100, "slidesPerView": 4, "autoplay": { "delay": 5000 }, "pagination": {
            "el": "#latest_properties_pagination",
            "type": "bullets",
            "clickable": true
          },
          "navigation": {
            "nextEl": ".latest_properties_next",
            "prevEl": ".latest_properties_prev",
            "clickable": true
        },
        "breakpoints": {
            "0": {
                "spaceBetween": 30,
                "slidesPerView": 1
            },
            "425": {
                "spaceBetween": 30,
                "slidesPerView": 1
            },
            "575": {
                "spaceBetween": 30,
                "slidesPerView": 2
            },
            "767": {
                "spaceBetween": 30,
                "slidesPerView": 2
            },
            "991": {
                "spaceBetween": 20,
                "slidesPerView": 3
            },
            "1289": {
                "spaceBetween": 30,
                "slidesPerView": 3
            },
            "1440": {
                "spaceBetween": 30,
                "slidesPerView": 4
            }
        }}'
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="latest_properties_single">
                  <div
                    class="latest_properties_img_carousel owl-theme owl-carousel"
                  >
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_1.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="sale_btn">For Sale</a>
                      </div>
                    </div>
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_2.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="sale_btn">For Sale</a>
                      </div>
                    </div>
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_3.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="sale_btn">For Sale</a>
                      </div>
                    </div>
                  </div>
                  <div class="latest_properties_content">
                    <div class="latest_properties_top_content">
                      <h4>
                        <a href="listing-details.html">Interior Appartment</a>
                      </h4>
                      <p>80 Broklyn Street, New York. USA</p>
                      <h3>$86.7600 <span>Sqft</span></h3>
                    </div>
                    <div class="latest_properties_bottom_content">
                      <ul class="list-unstyled">
                        <li><span class="icon-bed"></span>4</li>
                        <li><span class="icon-shower"></span>2</li>
                        <li>
                          <span class="icon-square-measument"></span>500 sqft
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="latest_properties_single">
                  <div
                    class="latest_properties_img_carousel owl-theme owl-carousel"
                  >
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_2.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="featured_btn">Featured</a>
                        <a href="#" class="sale_btn">For Sale</a>
                      </div>
                    </div>
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_3.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="featured_btn">Featured</a>
                        <a href="#" class="sale_btn">For Sale</a>
                      </div>
                    </div>
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_1.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="featured_btn">Featured</a>
                        <a href="#" class="sale_btn">For Sale</a>
                      </div>
                    </div>
                  </div>
                  <div class="latest_properties_content">
                    <div class="latest_properties_top_content">
                      <h4>
                        <a href="listing-details.html">Monall Design House</a>
                      </h4>
                      <p>80 Broklyn Street, New York. USA</p>
                      <h3>$140.0000 <span>Sqft</span></h3>
                    </div>
                    <div class="latest_properties_bottom_content">
                      <ul class="list-unstyled">
                        <li><span class="icon-bed"></span>4</li>
                        <li><span class="icon-shower"></span>2</li>
                        <li>
                          <span class="icon-square-measument"></span>500 sqft
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="latest_properties_single">
                  <div
                    class="latest_properties_img_carousel owl-theme owl-carousel"
                  >
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_3.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="sale_btn">For Rent</a>
                      </div>
                    </div>
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_1.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="sale_btn">For Rent</a>
                      </div>
                    </div>
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_2.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="sale_btn">For Rent</a>
                      </div>
                    </div>
                  </div>
                  <div class="latest_properties_content">
                    <div class="latest_properties_top_content">
                      <h4>
                        <a href="listing-details.html">Luxury Appartment</a>
                      </h4>
                      <p>80 Broklyn Street, New York. USA</p>
                      <h3>$900 <span>Monthly</span></h3>
                    </div>
                    <div class="latest_properties_bottom_content">
                      <ul class="list-unstyled">
                        <li><span class="icon-bed"></span>4</li>
                        <li><span class="icon-shower"></span>2</li>
                        <li>
                          <span class="icon-square-measument"></span>500 sqft
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="latest_properties_single">
                  <div
                    class="latest_properties_img_carousel owl-theme owl-carousel"
                  >
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_1.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="featured_btn">Featured</a>
                        <a href="#" class="sale_btn">For Sale</a>
                      </div>
                    </div>
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_2.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="featured_btn">Featured</a>
                        <a href="#" class="sale_btn">For Sale</a>
                      </div>
                    </div>
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_3.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="featured_btn">Featured</a>
                        <a href="#" class="sale_btn">For Sale</a>
                      </div>
                    </div>
                  </div>
                  <div class="latest_properties_content">
                    <div class="latest_properties_top_content">
                      <h4>
                        <a href="listing-details.html">Interior Appartment</a>
                      </h4>
                      <p>80 Broklyn Street, New York. USA</p>
                      <h3>$86.7600 <span>Sqft</span></h3>
                    </div>
                    <div class="latest_properties_bottom_content">
                      <ul class="list-unstyled">
                        <li><span class="icon-bed"></span>4</li>
                        <li><span class="icon-shower"></span>2</li>
                        <li>
                          <span class="icon-square-measument"></span>500 sqft
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="latest_properties_single">
                  <div
                    class="latest_properties_img_carousel owl-theme owl-carousel"
                  >
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_2.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="featured_btn">Featured</a>
                        <a href="#" class="sale_btn">For Sale</a>
                      </div>
                    </div>
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_3.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="featured_btn">Featured</a>
                        <a href="#" class="sale_btn">For Sale</a>
                      </div>
                    </div>
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_1.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="featured_btn">Featured</a>
                        <a href="#" class="sale_btn">For Sale</a>
                      </div>
                    </div>
                  </div>
                  <div class="latest_properties_content">
                    <div class="latest_properties_top_content">
                      <h4>
                        <a href="listing-details.html">Monall Design House</a>
                      </h4>
                      <p>80 Broklyn Street, New York. USA</p>
                      <h3>$140.0000 <span>Sqft</span></h3>
                    </div>
                    <div class="latest_properties_bottom_content">
                      <ul class="list-unstyled">
                        <li><span class="icon-bed"></span>4</li>
                        <li><span class="icon-shower"></span>2</li>
                        <li>
                          <span class="icon-square-measument"></span>500 sqft
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="latest_properties_single">
                  <div
                    class="latest_properties_img_carousel owl-theme owl-carousel"
                  >
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_3.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="featured_btn">Featured</a>
                        <a href="#" class="sale_btn">For Sale</a>
                      </div>
                    </div>
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_3.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="featured_btn">Featured</a>
                        <a href="#" class="sale_btn">For Sale</a>
                      </div>
                    </div>
                    <div class="latest_properties_img">
                      <img
                        src="assets/images/resources/latest_properties_img_1.jpg"
                        alt=""
                      />
                      <div class="latest_properties_icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="featured_and_sale_btn">
                        <a href="#" class="featured_btn">Featured</a>
                        <a href="#" class="sale_btn">For Sale</a>
                      </div>
                    </div>
                  </div>
                  <div class="latest_properties_content">
                    <div class="latest_properties_top_content">
                      <h4>
                        <a href="listing-details.html">Monall Design House</a>
                      </h4>
                      <p>80 Broklyn Street, New York. USA</p>
                      <h3>$140.0000 <span>Sqft</span></h3>
                    </div>
                    <div class="latest_properties_bottom_content">
                      <ul class="list-unstyled">
                        <li><span class="icon-bed"></span>4</li>
                        <li><span class="icon-shower"></span>2</li>
                        <li>
                          <span class="icon-square-measument"></span>500 sqft
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Latest Properties Two End-->

<!--CTA One Start-->
<section class="cta_one">
  <div
    class="cta_one_bg"
    style="background-image: url(assets/images/backgrounds/cta_one_bg.png)"
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="cta_one_inner">
          <div class="cta_one_text">
            <h2>We Help People and Homes Find Each Other</h2>
          </div>
          <div class="cta_one_btn">
            <a href="listing-1.html" class="thm-btn">Browse Property</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--CTA One End-->

<!--Featured Properties Start-->
<section
  class="featured_properties jarallax"
  data-jarallax
  data-speed="0.2"
  data-imgPosition="50% 0%"
  style="
    background-image: url(assets/images/backgrounds/featured_properties_bg.jpg);
  "
>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div
          class="featured_properties_left wow slideInLeft"
          data-wow-delay="100ms"
        >
          <div class="featured_properties_img">
            <img
              src="assets/images/resources/featured_properties_img.jpg"
              alt=""
            />
            <div class="featured_and_sale_btn">
              <a href="#" class="featured_btn">Featured</a>
              <a href="#" class="sale_btn">For Rent</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="featured_properties_right">
          <div class="block-title text-left">
            <h4>Checkout New</h4>
            <h2>Featured Properties</h2>
          </div>
          <div class="featured_properties_text">
            <p>
              Lorem ipsum dolor sit amet nsectetur cing elituspe ndisse suscipit
              sagitis leo sit.
            </p>
          </div>
          <ul class="featured_properties_right_list list-unstyled">
            <li><span class="icon-confirmation"></span>Nsectetur cing elit.</li>
            <li>
              <span class="icon-confirmation"></span>Suspe ndisse suscipit
              sagittis leo.
            </li>
            <li>
              <span class="icon-confirmation"></span>Entum estibulum dignissim
              posuere.
            </li>
          </ul>
          <ul class="featured_properties_details list-unstyled">
            <li><span class="icon-bed"></span>4</li>
            <li><span class="icon-shower"></span>2</li>
            <li><span class="icon-square-measument"></span>500 sqft</li>
          </ul>
          <div class="featured_properties_price">
            <h2 class="counter">87.5000</h2>
            <span>Sqft</span>
            <p>88 Broklyn Street, New York. USA</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Featured Properties End-->

<!--Membership Plan Start-->
<section class="membership_plan">
  <div class="container">
    <div class="block-title text-center">
      <h4>Choose the Right Plan</h4>
      <h2>Membership Plans</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4">
        <!--Membership Plan Single-->
        <div class="membership_plan_single wow fadeInUp" data-wow-delay="00ms">
          <div class="membership_plan_icon">
            <span class="icon-home-1"></span>
          </div>
          <div class="membership_plan_price">
            <p>Personal</p>
            <h2>$20.00</h2>
          </div>
          <ul class="membership_plan_serivce_list list-unstyled">
            <li><span class="fa fa-check"></span>10 Listings</li>
            <li><span class="fa fa-check"></span>2 Featured Listings</li>
          </ul>
          <div class="membership_plan_btn">
            <a href="#" class="thm-btn">Choose Plan</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4">
        <!--Membership Plan Single-->
        <div class="membership_plan_single wow fadeInUp" data-wow-delay="200ms">
          <div class="membership_plan_icon">
            <span class="icon-house"></span>
          </div>
          <div class="membership_plan_price">
            <p>Professional</p>
            <h2>$30.00</h2>
          </div>
          <ul class="membership_plan_serivce_list list-unstyled">
            <li><span class="fa fa-check"></span>20 Listings</li>
            <li><span class="fa fa-check"></span>6 Featured Listings</li>
          </ul>
          <div class="membership_plan_btn">
            <a href="#" class="thm-btn">Choose Plan</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4">
        <!--Membership Plan Single-->
        <div class="membership_plan_single wow fadeInUp" data-wow-delay="300ms">
          <div class="membership_plan_icon">
            <span class="icon-cityscape"></span>
          </div>
          <div class="membership_plan_price">
            <p>Business</p>
            <h2>$40.00</h2>
          </div>
          <ul class="membership_plan_serivce_list list-unstyled">
            <li><span class="fa fa-check"></span>40 Listings</li>
            <li><span class="fa fa-check"></span>20 Featured Listings</li>
          </ul>
          <div class="membership_plan_btn">
            <a href="#" class="thm-btn">Choose Plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Membership Plan End-->

<!--Why Choose One Start-->
<section class="why_choose_two">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-5">
        <div class="why_choose_one_left">
          <div
            class="why_choose_two_bg"
            style="
              background-image: url(assets/images/resources/why_choose_two_bg.jpg);
            "
          ></div>
          <div class="block-title text-left">
            <h4>We Provide Full Services</h4>
            <h2>Helping People to Find the Home</h2>
          </div>
          <ul class="why_choose_two_points list-unstyled">
            <li>
              <div class="icon">
                <span class="icon-checked"></span>
              </div>
              <div class="text">
                <p>
                  Solution for small and large businesses voluptatem accusantium
                  doloremque laudantium
                </p>
              </div>
            </li>
            <li>
              <div class="icon">
                <span class="icon-checked"></span>
              </div>
              <div class="text">
                <p>
                  Solution for small and large businesses voluptatem accusantium
                  doloremque laudantium
                </p>
              </div>
            </li>
            <li>
              <div class="icon">
                <span class="icon-checked"></span>
              </div>
              <div class="text">
                <p>
                  Solution for small and large businesses voluptatem accusantium
                  doloremque laudantium
                </p>
              </div>
            </li>
          </ul>
          <div class="why_choose_two_btn">
            <a href="listing-1.html" class="thm-btn">Search Property</a>
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7">
        <div class="why_choose_right">
          <div class="why_choose_right_img">
            <img
              src="assets/images/resources/why_choose_two_img_1.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Why Choose One End-->

<!--Are You Ready Start-->
<section
  class="are_you_ready jarallax"
  data-jarallax
  data-speed="0.2"
  data-imgPosition="50% 0%"
  style="background-image: url(assets/images/backgrounds/are_you_ready_bg.jpg)"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="are_you_ready_content">
          <div class="are_you_ready_shape">
            <img src="assets/images/shapes/are_you_ready_shape.png" alt="" />
          </div>
          <h2>
            Are You Ready to Buy <br />
            Dream House?
          </h2>
          <a href="listing-1.html" class="thm-btn">Search Property</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Are You Ready End-->

<!--Blog Two Start-->
<section class="blog_one two">
  <div class="container">
    <div class="block-title text-center">
      <h4>Our Blog Posts</h4>
      <h2>News & Articles</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4">
        <!--Blog One Single-->
        <div class="blog_one_single wow fadeInUp" data-wow-delay="00ms">
          <div class="blog_one_image_box">
            <div class="blog_one_img">
              <img src="assets/images/blog/blog_1_img_1.jpg" alt="" />
            </div>
            <div class="blog_one_date_box">
              <p>20 Nov, 2020</p>
            </div>
          </div>
          <div class="blog_one_content_box">
            <h3>
              <a href="news-details.html"
                >Save Thousands Selling Your Property</a
              >
            </h3>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a href="news-details.html"
                  ><i class="far fa-user-circle"></i> Admin</a
                >
              </li>
              <li><span>/</span></li>
              <li>
                <a href="news-details.html"
                  ><i class="far fa-comments"></i> 2 Comments</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4">
        <!--Blog One Single-->
        <div class="blog_one_single wow fadeInUp" data-wow-delay="200ms">
          <div class="blog_one_image_box">
            <div class="blog_one_img">
              <img src="assets/images/blog/blog_1_img_2.jpg" alt="" />
            </div>
            <div class="blog_one_date_box">
              <p>20 Nov, 2020</p>
            </div>
          </div>
          <div class="blog_one_content_box">
            <h3>
              <a href="news-details.html"
                >Iterative approaches to corporate foster</a
              >
            </h3>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a href="news-details.html"
                  ><i class="far fa-user-circle"></i> Admin</a
                >
              </li>
              <li><span>/</span></li>
              <li>
                <a href="news-details.html"
                  ><i class="far fa-comments"></i> 2 Comments</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4">
        <!--Blog One Single-->
        <div class="blog_one_single wow fadeInUp" data-wow-delay="300ms">
          <div class="blog_one_image_box">
            <div class="blog_one_img">
              <img src="assets/images/blog/blog_1_img_3.jpg" alt="" />
            </div>
            <div class="blog_one_date_box">
              <p>20 Nov, 2020</p>
            </div>
          </div>
          <div class="blog_one_content_box">
            <h3>
              <a href="news-details.html"
                >Leverage agile frame works to a robust</a
              >
            </h3>
            <ul class="list-unstyled blog-one__meta">
              <li>
                <a href="news-details.html"
                  ><i class="far fa-user-circle"></i> Admin</a
                >
              </li>
              <li><span>/</span></li>
              <li>
                <a href="news-details.html"
                  ><i class="far fa-comments"></i> 2 Comments</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Blog Two End-->

<!--Brand Two Start-->
<div class="brand_one two">
  <div class="container">
    <div
      class="thm-swiper__slider swiper-container"
      data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
            "0": {
                "spaceBetween": 30,
                "slidesPerView": 2
            },
            "375": {
                "spaceBetween": 30,
                "slidesPerView": 2
            },
            "575": {
                "spaceBetween": 30,
                "slidesPerView": 3
            },
            "767": {
                "spaceBetween": 50,
                "slidesPerView": 4
            },
            "991": {
                "spaceBetween": 50,
                "slidesPerView": 5
            },
            "1199": {
                "spaceBetween": 100,
                "slidesPerView": 5
            }
        }}'
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="assets/images/brand/brand_2_img_1.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand_2_img_2.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand_2_img_3.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand_2_img_4.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand_2_img_5.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand_2_img_1.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand_2_img_2.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand_2_img_3.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand_2_img_4.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="assets/images/brand/brand_2_img_5.png" alt="" />
        </div>
        <!-- /.swiper-slide -->
      </div>
    </div>
  </div>
</div>
<!--Brand Two End-->

<!--Site Footer One Start-->
<footer
  class="site_footer"
  style="background-image: url(assets/images/resources/site_footer_top_bg.jpg)"
>
  <div class="container">
    <div class="site_footer_one_top">
      <div class="row">
        <div class="col-xl-3 col-lg-6 wow fadeInUp" data-wow-delay="00ms">
          <div class="footer-widget__column footer_widget__about">
            <div class="footer_logo">
              <a href="index.html">
                <img
                  src="assets/images/mankafy.jpg"
                  class="img-responsive w-100"
                  alt="Mankafy Voyage Logo"
                />
              </a>
            </div>
            <div class="footer_widget_about_text">
              <p>
                Lorem ipsum dolor sit ame consect etur pisicing elit sed do
                eiusmod tempor incididunt ut labore.
              </p>
            </div>
            <div class="footer_call_agent_box">
              <div class="icon">
                <span class="icon-phone-call"></span>
              </div>
              <div class="text">
                <p>Contact</p>
                <a href="tel:92-888-000-2222">92 888 000 2222</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 wow fadeInUp" data-wow-delay="200ms">
          <div class="footer-widget__column footer_widget__explore clearfix">
            <div class="footer-widget__title">
              <h3>Explore</h3>
            </div>
            <ul class="footer_widget__explore_list list-unstyled">
              <li><a href="#">About Us</a></li>
              <li><a href="#">My Account</a></li>
              <li><a href="#">Add Properties</a></li>
              <li><a href="#">Pricing Packages</a></li>
              <li><a href="#">Bookmarks</a></li>
            </ul>
            <ul class="footer_widget__explore_list two list-unstyled">
              <li><a href="#">Our Agents</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-5 col-lg-8 wow fadeInUp" data-wow-delay="300ms">
          <div class="footer-widget__column footer_widget__newsletter">
            <div class="footer-widget__title">
              <h3>Newsletter</h3>
            </div>
            <form action="#" class="footer_form">
              <div class="footer_input_box">
                <input type="email" name="email" placeholder="Email Address" />
                <button type="submit" class="button">Subscribe</button>
              </div>
            </form>
            <div class="footer_widget__newsletter_bottom">
              <p>88 Broklyn Golden Street, New York. USA</p>
              <a href="mailto:needhelp@tolins.com">needhelptolins.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--Site Footer One End-->

<!-- /.page-wrapper -->
