<div class="container mt-5">
  <div class="d-flex">
    <div class="location-container" *ngFor="let location of locations">
      <div class="location-body text-center">
        <h4 class="location-title mt-4">{{ location.location.name }}</h4>
        <div
          class="couleur2"
          *ngIf="
            location.route.route &&
            location.route.route.routes &&
            location.route.route.routes[0] &&
            location.route.route.routes[0].summary
          "
          class="mt-4"
        >
          {{
            location.route.route.routes[0].summary.distance / 1000
              | number : "1.0-0"
          }}
          km
        </div>
        <div
          class="couleur2"
          *ngIf="
            location.route.route &&
            location.route.route.routes &&
            location.route.route.routes[0] &&
            location.route.route.routes[0].summary
          "
          class="mt-2 mb-3"
        >
          {{
            (location.route.route.routes[0].summary.duration / 3600) * 1.35
              | number : "1.0-0"
          }}
          h
        </div>
      </div>
    </div>
  </div>
</div>
