$couleur1: #1e8b10;
$couleur2: #042f66;
$couleur3: #f7a857;
$couleur4: #250001;

$couleur1Sombre: #1a5d11;
$couleur2Sombre: #072348;
$couleur2Clair: #074290;

$text-color: rgb(31, 31, 31);

.couleur1 {
  color: $couleur1;
}

.couleur2 {
  color: $couleur2;
}

.cursor-pointer {
  cursor: pointer;
}

.card {
  padding: 5px;
  background-color: white;
  color: $text-color;
}

// les bordures à gauches de chaque taille d'écran
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

/* You can add global styles to this file, and also import other style files */
.bordered {
  border-style: solid;
}

.form-control-danger {
  border-color: rgba(255, 0, 0, 0.613);
}

.cursor {
  cursor: pointer;
}

html,
body {
  height: 100%;
  color: $text-color;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-couleur1 {
  background-color: $couleur1;
  color: white;
}
.btn-couleur1:hover {
  background-color: $couleur1Sombre;
  color: white;
}
.btn-couleur2 {
  background-color: $couleur2;
  color: white;
}
.btn-couleur2:hover {
  background-color: $couleur2Sombre;
  color: rgba(255, 255, 255, 0.5);
}

/* Masque les boutons d'incrémentation dans Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Masque les boutons d'incrémentation dans Firefox */
.no-spinner[type="number"] {
  -moz-appearance: textfield;
}
